:root {
    --headebg: rgb(50, 41, 98);
    --white: #fff;
}

.message-header{
    position: fixed;
    top: 0;
    border: 1px solid black;
    width: 40%;
    justify-content: space-between;
    background-color: var(--headebg);
    height: 100px;
    border-color: var(--asidebg);
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 1% 1% 2%;
}

.search-arada-users{
    align-self: center;
    margin-left: 2%;
}


h4,h2 {
    color: white;
}

.channel-flex{
    display: flex;
}

.search-users{
    position: fixed;
    z-index: 5;
    background-color: var(--headebg);
    width: 39%;
}

.search-result-flex{
    display: flex;
    margin-left: 20px;
    align-items: center;
    gap: 4%;
}

.search-name{
    display: flex;
    color: var(--white);
    justify-content: space-between;
}