:root {
    --message-body-bg: rgb(250, 250, 250);
    --blue: rgb(39, 21, 239);
}
.Message-section{
    width: 40%;
}
.message-body {
    margin-top: 100px;
    overflow-y: auto;
    background-color: var(--message-body-bg);
    height: 80vh;
    display: flex;
    flex-direction: column;
}

/* Mob */
/* @media screen and (max-width:1024px) and (min-width: 425px ) {

    } */
    @media screen and (max-width: 1024px) {
        .Message-section{
            width: 100%;
        }
        .message-header,.send-message-section{
            width: 100%;
        }
        .message-header{
            padding-right: 6%;
        }
        .message-body{
            width: 100%;
        }
        .channel-info{
            margin-left: 5px;
        }
        .Meta-pannel-wrap{
            display: none;
        }
    }
    #no-msg{
        color: var(--blue);
        text-align: center;
    }
    .no-msg-anim{
        width: 140px;
        height: 140px;
        align-self: center;
    }
    .no-messages-yet-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        margin: auto;
        padding-top: 5%;
    }
    .send-msg-pro {
        text-align: center;
    }
    /* Additional animation */

    