:root {
    --send-section-ebg: rgb(50, 41, 98);
    --disabled-btn: rgb(193, 126, 81);
    --orage: rgb(230, 105, 22);
    --blue: rgb(19, 101, 244);
    --modal-bg: rgb(19, 20, 18);
    --white: rgb(252, 252, 252);
}
.send-message-section{
    position: fixed;
    border: 1px solid black;
    width: 40%;
    margin-top: 40px;
    background-color: var(--send-section-ebg);
    bottom: 0;
}
.send-msg-btn {
    width: 50%;
    background-color: var(--orage);
    border-color: var(--orage);
}

.send-msg-btn:disabled{
background-color: var(--disabled-btn);
}
.upload-media-btn{
background-color: var(--blue);
border-color: var(--blue);
width: 50%;
}

/* SEND FILE MODAL CSS START */
.file-upload-wrap{
    align-items: center;
    position: fixed;
    background-color: var(--modal-bg);
    opacity: 0.8;
    z-index: 3;
    top: 0;
    width: 40%;
    height: 100vh;
}
.upload{
    padding-top: 45%;
}
.upload-media-file{
    background-color: var(--white);
}
