:root {
    --asidebg: rgb(50, 41, 98);
    --white: #fff;
    --channel-color: rgb(163, 158, 186);
    --plus: rgb(94, 90, 108);
    --modal-bg: rgb(19, 20, 18);
    --cancel: rgb(229, 12, 12);
    --create:rgb(13, 204, 58);
    --channelListHover: rgb(139, 145, 136);
    --green: green;
    --red: red;
}

.menu{
    background-color: var(--asidebg);
    width: 20%;
    height: 100vh;
    align-content: center;
    overflow-y: auto;
}
.logo, .welcome{
    color: var(--white);
}
.menu-options{
    width: 40%;
    height: 20px;
    align-self: center;
    background-color: var(--asidebg);
    color: var(--white);

}

.avatar{
    margin-top: 20px;
   margin-left: 20%;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: 2px black solid;
}
.user-action{
    display: flex;
    column-gap: 2%;
    justify-content: center;
}
.channels, .channels-list{
    color: var(--channel-color);
    text-align: center;
    margin-top: 20px;
}

.channels-wrap{
    justify-content: center;
    display: flex;
    column-gap: 7%;
}
.modal{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: var(--modal-bg);
    opacity: 0.9;
}
.create-channel-btn-wrap {
    display: flex;
    width: 50%;
    margin: auto;
   column-gap: 5%;
   float: right;
}

.channel-input{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    justify-content: center;
    row-gap: 20px;
    text-align: center;
}
.modal-sub{
    margin-top: 18%;
}
.create-new{
    color: var(--white);
    text-align: center;
}
.create{
    margin-top: 20px;
    background-color: var(--create);
    color: var(--white);
    width: 150px;
    height: 40px;

}
.cancel{
    margin-top: 20px;
    background-color: var(--cancel);
    color: var(--white);
    width: 150px;
    height: 40px;
}
.cancel, .create, .channel-name, .channel-description {
    border-radius: 12px;
}
.channel-avatar{
    width: 30px;
    height: 30px;
}
.e-avatar{
    display: flex;
    gap: 5%;
    width: 30%;
    margin: auto;
    margin-top: 10px;
}
.e-channel-name{
    width: 40%;
}
.e-avatar:hover{
background-color: var(--channelListHover);
opacity: 0.8;
color: var(--white);
cursor:pointer;
}

.dm-t{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 2%;
}
.dm-icon{
    text-align: center ;
    color: var(--channel-color);
}
.dm{
    color: var(--channel-color);
}
.dm-user{
    color: var(--channel-color);
    text-align: center;
    cursor:pointer;
}
.dm-user:hover {
    color: #fff;
}

.user-av-dm{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.dm-users-list{
    margin-top: 10px;
    width: 50%;
    margin: auto;
}
.online{
color: var(--green);
padding-left: 10px;
}
.offline{
color: var(--red);
padding-left: 10px;
}
.dm-info{
    display: flex;
    margin-top: 10px;
}

.dm-info:hover {
background-color: var(--channel-color);
}

.logo-and-menu-wrap{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.menu-bars{
    display: none;
    color: var(--white);
    align-self: center  ;
    margin-left: 40px;
}
#Hide {
    display: block;
}
.menu-bars-show{
    color: var(--white);
    width: 25px;
    height: 40px;
    z-index: 4;
    background-color: var(--asidebg);
}
.hamburger-bar-wrap{
    display: none;
}
@media screen and (max-width:1024px) and (min-width: 425px ) {
.menu{
    width: 44%;
    position: fixed;
    z-index: 3;
}
.menu-bars{
    display: block;
    color: var(--white);
    align-self: center  ;
    margin-left: 40px;
}
#Hide {
    display: none;
}
#Show{
    position: fixed;
    top: 0;
    display: block;
}
.hamburger-bar-wrap{
    height: 100vh;
    background-color: var(--asidebg);
    display: block;
    border-color: var(--asidebg);
}
.create-channel-btn-wrap{
 float: none;       
}
}
@media screen and (max-width: 420px) {
    .menu-bars{
        display: block;
        color: var(--white);
        align-self: center  ;
        margin-left: 40px;
    }
    .menu{
        position: fixed;
        z-index: 3;
        width: 70%;
    }
    .Message-section{
        width: 70%;
    }
    #Hide {
        display: none;
    }
    #Show{
        position: fixed;
        top: 0;
        display: block;
    }
    .hamburger-bar-wrap{
        display: flex;
        height: 100vh;
        background-color: var(--asidebg);
    }
    .create-channel-btn-wrap{
        float: none;       
       }
       .modal-sub{
        margin-top: 38%;
       }
}
.users-online{
    color: var(--white);
}

.direct-msg-online{
    display: flex;
    flex-direction: column;
}

.green{
    color: var(--green);
}

.plus-icn{
border-radius: 10px;
cursor: pointer;
}
.plus-icn:hover{
    background-color: var(--plus);
}

#active {
   border: 1px solid var(--white);
   border-radius: 8px;
}