:root {
    --asidebg: rgb(50, 41, 98);
    --white: #fff;
    --channel-color: rgb(163, 158, 186);
}

.menu{
    background-color: var(--asidebg);
    width: 20%;
    height: 100vh;
    align-content: center;
}
.logo, .welcome{
    color: var(--white);
}
.menu-options{
    width: 40%;
    height: 20px;
    align-self: center;

}

.avatar{
    margin-top: 20px;
   margin-left: 20%;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: 2px black solid;
}
.user-action{
    display: flex;
    column-gap: 2%;
    justify-content: center;
}
.channels{
    color: var(--channel-color);
    text-align: center;
    margin-top: 10px;
}

.channels-wrap{
    justify-content: center;
    display: flex;
    column-gap: 7%;
}