:root{
    --blue: #322962;;
}

footer {
bottom: 0;   
width: 100%; 
}

.footer-info{
    text-align: center;
}
footer>div {
    background-color: var(--blue);
}
.built-by{
    z-index: 100;
    color: wheat;
}

.logo-aa{
    text-align: center;
    margin: 0 auto;
}

#built-by-sec{
    color: white;
}

@media screen and (max-width: 1024px) {
    footer {
        bottom: 0;   
        width: 100%; 
        }
}