:root{
    --blue: #4e54c8;
}

footer {
bottom: 0;   
width: 100%; 
}

.footer-info{
    text-align: center;
}
footer>div {
    margin-top: 100px;
    background-color: var(--blue);
}
.built-by{
    z-index: 100;
}

.logo-aa{
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    footer {
        bottom: 0;   
        width: 100%; 
        }
}