@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
:root {
--home-sec-bg:rgb(50, 41, 98);
--white:#fff;
--orage: rgb(230, 105, 22);
}

.home-main{
    width: 100%;
    height: 108vh;

}
.main-wrap1{
    display: flex;
    width: 44%;
    margin: auto;
    gap: 10%;
    padding-top: 200px;
}
.white{
    color: var(--white);
}
.login-on-home,.signup-on-home-t{
    width: 80px;
}
.signup-on-home-t:hover{
    
    background-color: var(--orage);
}
#signup:hover{
    color: var(--white);
}
.signup-on-home{
    width: 190px;
    margin-top: 14px;
    text-align: center;
    height: 30px;
}

.logo-aa{
    color: var(--orage);
    font-size: 60px;
}

/* Background info */

.context {
    width: 100%;
    background-color: #4e54c8;
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:90vh;
    
   
}

.orange {
    color: var(--orage)
}
.border{
    border:solid 1px var(--home-sec-bg)
}

#navlogo{
    color:var(--orage);
    background-color: var(--asidebg);
}
.welcome{
    padding-bottom: 13px;
}
@media screen and (max-width: 1024px) {
    .main-wrap1{
        flex-direction: column;
        gap: 20px;
        padding-top: 155px;
    }
    nav > div {
        padding-left: 10px;
        width: 100%;
    }
    .logo-aa{
        font-size: 40px;
    }
    
}