:root {
    --navbg: #fff;
    --blue: rgb(50, 66, 213);
}

nav{
background-color: var(--navbg);
height: 11vh;
position: fixed;
top: 3;
z-index: 1000;
width: 100%;
background-color: #ecf0f3;
box-shadow: -1px 11px 24px -11px rgba(248, 239, 239, 0.75);
transition: 0.5s;
}
nav > div {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    height: 100px;
    background-color: var(--orage);
}
.msg {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--blue);
    color: var(--navbg);
    text-align: center;
}

.login-signup{
    display: flex;
    gap: 5%;
}

#login-d{
    width: 90px;
    height: 42px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
@media screen and (max-width: 1024px) {
    nav{
        
        height: 9vh;
    }
}
