*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --orage: rgb(230, 105, 22);
}
body{
    background-color: var(--bg);
}
.loading-screen-wrap{
    width: 100%;
}
.loading-screen {
    width: 40px;
    height: 40px;
  }
  .loading-screen::before {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    border: 64px solid rgb(11, 11, 11);
    border-color: var(--orage) transparent var(--orage) transparent;
    animation: loading-screen 1.2s infinite;
    margin: auto;
    margin-top: 18%;
  }
  @keyframes loading-screen {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  .all-comp{
      display: flex;
  }

  .wait{
    width: 23%;
    margin: auto;
    margin-top: 5px
  }